
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

  <application>
    <service
      android:name="com.reactlibrary.AudioBroadcastService"
      android:process=":audioBroadcastProcess"
      android:enabled="true"
      android:exported="true"/>
  </application>
</manifest>
  